.react-calendar-heatmap .color-empty {
  fill: #2e2e2e;
}
.react-calendar-heatmap .color-scale-1 {
  fill: #0e4429;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #006d32;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #26a641;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #39d353;
}
.react-calendar-heatmap text {
  fill: #a1a1aa;
  font-size: 8px;
}
